<!doctype html>
<html lang="en">
  {{template "head.html"}}
  <body hx-ext="morph">
    {{block "edit.account.body.html" .}}
    <div id="body" class="container" hx-boost="true">
      {{template "nav.html" "edit"}}
      <div class="row">
        <div class="col"><legend>{{.Name}}</legend></div>
        <div class="col"><b>Total Assets</b> {{human .Total.Assets}}</div>
        <div class="col"><b>Total Change</b> {{human .Total.Change}}</div>
        <div class="col"><b>Total Increase</b> {{human .Total.Increase}}</div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th class="col">Year</th>
            <th class="text-end">Start</th>
            <th class="col" class="text-end">End</th>
            <th class="col" class="text-end">Change</th>
            <th class="text-end">Increase</th>
          </tr>
        </thead>
        <tbody>
          {{$slug := .Slug}}
          {{range .History}}
          <tr id="{{.Year}}">
            <th scope="row">{{.Year}}</a></th>
            <td class="text-end">{{human .Start}}</td>
            <td><input type=text hx-post="/edit/account/{{$slug}}/amount/{{.Year}}" hx-trigger="change" hx-target="#body" hx-swap="morph" name="{{.Year}}-amount" value="{{human .End}}"/></td>
            <td><input type=text hx-post="/edit/account/{{$slug}}/change/{{.Year}}" hx-trigger="change" hx-target="#body" hx-swap="morph" name="{{.Year}}-change" value="{{human .Change}}"/></td>
            <td class="text-end">{{human .Increase}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
      <form class="d-flex" action="/edit/account/{{.Slug}}/add" method="POST">
        <input name="year" class="form-control" type="text" placeholder="Year" aria-label="Year">
        <button class="btn btn-outline-success" type="submit">Add</button>
      </form>
      {{if ne .Error nil}}
        <div class="alert alert-danger" role="alert">
          {{.Error}}
        </div>
      {{end}}
      {{if ne .Message ""}}
        <div class="alert alert-success" role="alert">
          {{.Message}}
        </div>        
      {{end}}
    </div>
    {{end}}
    {{template "scripts.html"}}
  </body>
</html>
