<!doctype html>
<html lang="en">
  {{template "head.html"}}
  <body hx-ext="morph">
    {{block "edit.body.html" .}}
    <div id="body" class="container" hx-boost="true">
      {{template "nav.html" "edit"}}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Change</th>
            <th scope="col">Increase</th>
          </tr>
        </thead>
        <tbody>
          {{range .}}
          {{block "edit.row.html" .}}
          <tr id="{{.Slug}}">
            <th scope="row">{{.Name}}</th>
            <td>{{.Start}}</td>
            <td><input type=text hx-post="/edit/amount" hx-trigger="keyup changed delay:500ms" hx-target="#body" hx-swap="morph" name="{{.Slug}}" value="{{.End}}"/></td>
            <td><input type=text hx-post="/edit/change" hx-trigger="keyup changed delay:500ms" hx-target="#body" hx-swap="morph" name="{{.Slug}}" value="{{.Change}}"/></td>
            <td>{{.Increase}}</td>
          </tr>
          {{end}}
          {{end}}
        </tbody>
      </table>
      <form class="d-flex" action="/edit/add" method="POST">
        <input name="name" class="form-control" type="text" placeholder="Name" aria-label="Name">
        <button class="btn btn-outline-success" type="submit">Add</button>
      </form>
    </div>
    {{end}}
    {{template "scripts.html"}}
  </body>
  
</html>
