<!doctype html>
<html lang="en">
  {{template "head.html"}}
  <body>
    {{block "edit.body.html" .}}
    <div id="body" class="container" hx-boost="true">
      {{template "nav.html" "edit"}}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Change</th>
            <th scope="col">Increase</th>
          </tr>
        </thead>
        <tbody>
          {{range .}}
          {{block "edit.row.html" .}}
          <tr id="{{.Slug}}">
            <th scope="row">{{.Name}}</th>
            <td>{{.Start}}</td>
            <td><input type=text value="{{.End}}" name="{{.Slug}}-end" hx-post="/edit/" hx-trigger="keyup delay:500ms changed" hx-target="#body"/></td>
            <td><input type=text value="{{.Change}}" name="{{.Slug}}-change" hx-post="/edit/" hx-trigger="keyup delay:500ms changed" hx-target="#body"/></td>
            <td>{{.Increase}}</td>
          </tr>
          {{end}}
          {{end}}
        </tbody>
      </table>
    </div>
    {{end}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
  </body>
  
</html>
